*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 965px;
    background: #722EF5;
}
.text {
    width: 177px;
    height: 87px;
    margin: 82px 1580px 0px 163px;
}
.h1_one {
    width: 177px;
    height: 34px;
    margin-bottom: 19px;
}
.h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.5);
}
.h2_two {
    width: 118px;
    height: 34px;
}
.h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.5);
}
.texttwo {
    display: flex;
    width: 230px;
    height: 49px;
    margin: 660px 1527px 82px 163px;
}
.logo {
    width: 49px;
    height: 49px;
}
.img{
    max-width: 49px;
    max-height: 49px;
}
.container_text {
    width: 172px;
    height: 41px;
    padding: 4px 0 4px 9px;
}
.bold_text {
    width: 172px;
    height: 24px;
}
.h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.notbold_text {
    width: 139px;
    height: 17px;
}
h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.image_main {
    position: absolute;
    width: 1311px;
    height: 2004px;
    left: 393px;
    top: 5px;
}